<div id="product-display">
    <ul id="product-area">
        <ng-container *ngFor="let p of productList">
            <li id="product">
                <div id="display-product">
                    <div id="image">
                        <img src="{{p.productImage}}" alt="Image">
                    </div>
                    <div id="product-details">
                        <h1>{{p.productName}}</h1>
                        <p>Price:${{p.producPrice}}</p>
                        <button id="add-to-cart" (click)="addOrder(p.producPrice,p.productName)">Order</button>
                    </div>
                </div>
                
            </li>
        </ng-container>
    </ul>
</div>
