<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- 
<a routerLink="user">User</a>
<a routerLink="products">Products</a>
<a routerLink="/orders">Orders</a> -->

<header>
    <ul id="link-header">
        <!-- <li class="links" style="float: left"><a routerLink="/home">SideKart</a></li> -->
        <li class="links"><a id="register" routerLink="user/profile">Profile</a></li>
        <li class="links"><a id="register" routerLink="user">Registration</a></li>
        <li class="links"><a id="cart" routerLink="/orders">Orders</a></li>
        <li class="links"><a id="cart" routerLink="products">Products</a></li>
        <!-- <li class="links"><a >About us</a></li> -->
        <!-- <ng-container><li class="links"><a routerLink="newProduct">Add Product</a></li></ng-container> -->
        <!-- <li class="links">
            <div id="dropdown">
            <label for="Sort by"></label>
              <select id="sortBy" >
                <option value="default">select</option>
                <option value="price">Price</option>
                <option value="category">Category</option>
                <option value="rating">Rating</option>
              </select>
            </div>
        </li>
        <li class="links"><input type="text" placeholder="enter here"></li> -->
    </ul>
  </header>
  
  <main>
    <router-outlet />
    
  </main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
