html,body{
    overflow-x: hidden;
    overflow-y: auto;
}

main{
    padding-top: 30px;
}

#link-header {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

.links {
float: right;
}

.links a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.links div{
margin-top: 13px;
display: block;
text-align: center;
text-decoration: none;
}

.links input{
height: 1px;
text-align: center;
padding: 10px 10px;
text-decoration: none;
margin-top: 13px;
}

.links a:hover {
background-color: #f00;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
}